<main class="main">
  <header>
    <img
      alt="image-antares"
      src="/images/logo_antares.svg"
      width="177"
      height="177"
    />
    <h1 class="title-app">Antares Workshop</h1>
  </header>
  <div class="container-grid">
      {{!-- fill here ... --}}
    <div class="box accelerator">
      <img
        alt="temperature"
        src="/images/accelerator.svg"
        class="icons"
        width="64"
        height="64"
      />
      <div class="body-accelerator">
        <h3 class="value-accelerator" id="x">X : {{x}}</h3>
        <h3 class="value-accelerator" id="y">Y : {{y}}</h3>
        <h3 class="value-accelerator" id="z">Z : {{z}}</h3>
      </div>
      <h4 class="title-accelerator">accelerometer</h4>
    </div>
    <div class="box proximity">
      <img
        alt="temperature"
        src="/images/object.svg"
        class="icons"
        width="75"
        height="75"
      />
      <h3 class="value-proximity" id="proximity">{{proximity}}</h3>
      <h4 class="title-proximity">Proximity</h4>
    </div>
    <div id="card" class="box smart-switch {{status}}">
      <button
        class="button-switch"
        id="switch"
        data-status={{status}}
      >
        {{status}}
      </button>
      <h4 class="title-switch">Buzzer switch</h4>
    </div>
  </div>
</main>

<script type="text/javascript">
const button = document.getElementById('switch'); 
const card = document.getElementById('card')
  const onClick = () => { 
    let status = (button.getAttribute('data-status') === "nyala") ? "mati" : "nyala"
    if(card.classList.contains('mati')){
      card.classList.remove('mati')
      card.classList.add(status)
      button.innerText = 'nyala'
      button.setAttribute("data-status", "nyala")
    }else {
      card.classList.remove('nyala')
      card.classList.add(status)
      button.innerText = 'mati'
      button.setAttribute("data-status", "mati")
    }
    let body = { data: status } 
    fetch(`/postData`, { 
      method: "POST", 
      headers: { 'Content-Type': 'application/json', }, 
      body: JSON.stringify(body) 
      })
  }

  button.addEventListener("click", onClick);
</script>

<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>

<script type="text/javascript">
  var socket = io({ query: 'dashboard=antares' }); 
  const updateContent = (pressure, proximity, x, y, z) => { 
    console.log("hasil update", pressure)
    document.getElementById("pressure").innerHTML = `${pressure ?? 0} p`
    document.getElementById("proximity").innerHTML = `${proximity ?? '-'}`
    document.getElementById("x").innerText = `X: ${x ?? 0}`
    document.getElementById("y").innerText = `Y: ${y ?? 0}`
    document.getElementById("z").innerText = `Z: ${z ?? 0}`
    }

    //fill here ...
</script>